.buttons {
    color: teal;
    background-color: transparent;
    border: 0px transparent;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }
  
  @media (max-width: 767px) {
    .buttons {
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;
      padding: 5px;
    }
  }
  
  .buttons:hover {
    color: hsl(180, 100%, 35%);
  }
  
  .buttons:disabled {
    color: #ddd;
  }